TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=+1XXXXXXXXXX
ADMIN_PHONE_NUMBER=+1XXXXXXXXXX
API_SECRET=your_random_api_secret_here
ARDUINO_IP=192.168.x.x
